In [108]:
#1

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\Untitled spreadsheet.csv','r')
fr=csv.reader(fp)
d={}
mgr=[]
for i in fr:
    mgr+=[i[3]]

fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\Untitled spreadsheet.csv','r')
fr=csv.reader(fp)

for i in range(1,len(mgr)):
    count=0
    fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\Untitled spreadsheet.csv','r')
    fr=csv.reader(fp)
    for j in fr:
        if mgr[i]==j[3]:
            count+=1
    d[mgr[i]]=count

print('total type of items are',len(d))
print(d)

total type of items are 5
{'Jeans  Levis': 4, 'Tshirt': 7, 'Jeans  Denim': 1, 'Jeans Zara': 1, 'Shirt Arrow': 1}

In [113]:
#2

fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\Untitled spreadsheet.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[4]=='Casual Wear':
        print(i)

['Sunil', '28', '06-01-2020', 'Jeans  Levis', 'Casual Wear', '900', '1100']
['Naga', '22', '06-02-2020', 'Jeans  Levis', 'Casual Wear', '900', '1100']
['Mahesh', '17', '26-03-2020', 'Jeans  Levis', 'Casual Wear', '900', '1100']
['Sunil', '32', '26-04-2020', 'Jeans  Levis', 'Casual Wear', '900', '1100']
['Nagaraju', '1', '10-05-2020', 'Jeans  Denim', 'Casual Wear', '700', '900']
['shiva', '28', '06-06-2020', 'Jeans Zara', 'Casual Wear', '700', '900']

In [118]:
#3

fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\Untitled spreadsheet.csv','r')
fr=csv.reader(fp)

sum=0
for i in fr:
    if i[4]=='Casual Wear':
        sum+=(int(i[-1])-int(i[-2]))
print('profit from casual wear is',sum)

profit from casual wear is 1200

In [28]:
# writing new file

import csv
li=['ab','cd','ef','gh','99']
# fp=open('demofile.csv','w')
# fr=csv.writer(fp)
# fr.writerow(li)

fp=open('demofile.csv','w',newline='')
fr=csv.writer(fp)
fr.writerow(li)

fp=open('demofile.csv','a',newline='')
fr=csv.writer(fp)
fr.writerow(['name','age','branch'])
fp.close()

In [49]:
import csv
with open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r') as fp:
    fr=csv.reader(fp)
    for i in fr:
        print(i)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
['7369', 'SMITH', 'CLERK', '7902', '17-Dec-80', '800', '', '20']
['7499', 'ALLEN', 'SALESMAN', '7698', '20-Feb-81', '1600', '300', '30']
['7521', 'WARD', 'SALESMAN', '7698', '22-Feb-81', '1250', '500', '30']
['7566', 'JONES', 'MANAGER', '7839', '02-Apr-81', '2975', '', '20']
['7654', 'MARTIN', 'SALESMAN', '7698', '28-Sep-81', '1250', '1400', '30']
['7698', 'BLAKE', 'MANAGER', '7839', '01-May-81', '2850', '', '30']
['7782', 'CLARK', 'MANAGER', '7839', '09-Jun-81', '2450', '', '10']
['7788', 'SCOTT', 'ANALYST', '7566', '19-Apr-87', '3000', '', '20']
['7839', 'KING', 'PRESIDENT', '', '17-Nov-81', '5000', '', '10']
['7844', 'TURNER', 'SALESMAN', '7698', '08-Sep-81', '1500', '0', '30']
['7876', 'ADAMS', 'CLERK', '7788', '23-May-87', '1100', '', '20']
['7900', 'JAMES', 'CLERK', '7698', '03-Dec-81', '950', '', '30']
['7902', 'FORD', 'ANALYST', '7566', '03-Dec-81', '3000', '', '20']
['7934', 'MILLER', 'CLERK', '7782', '23-Jan-82', '1300', '', '10']

In [48]:
#1 wap name of the employee along with their annual salary.

import csv
with open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r') as fp:
    fr=csv.reader(fp)
    for i in fr:
        if i[1]!='ENAME' and i[-3]!='SAL':
            print(i[1],'-',i[-3])

SMITH - 800
ALLEN - 1600
WARD - 1250
JONES - 2975
MARTIN - 1250
BLAKE - 2850
CLARK - 2450
SCOTT - 3000
KING - 5000
TURNER - 1500
ADAMS - 1100
JAMES - 950
FORD - 3000
MILLER - 1300

In [96]:
#2 wap all the details of the employees along with an annual bonus of 2000.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[0]=='EMPNO':
        print(i,'--------','annual bonus(2000)')
    else:
        print(i,'---------------',int(i[-3])+2000)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO'] -------- annual bonus(2000)
['7369', 'SMITH', 'CLERK', '7902', '17-Dec-80', '800', '', '20'] --------------- 2800
['7499', 'ALLEN', 'SALESMAN', '7698', '20-Feb-81', '1600', '300', '30'] --------------- 3600
['7521', 'WARD', 'SALESMAN', '7698', '22-Feb-81', '1250', '500', '30'] --------------- 3250
['7566', 'JONES', 'MANAGER', '7839', '02-Apr-81', '2975', '', '20'] --------------- 4975
['7654', 'MARTIN', 'SALESMAN', '7698', '28-Sep-81', '1250', '1400', '30'] --------------- 3250
['7698', 'BLAKE', 'MANAGER', '7839', '01-May-81', '2850', '', '30'] --------------- 4850
['7782', 'CLARK', 'MANAGER', '7839', '09-Jun-81', '2450', '', '10'] --------------- 4450
['7788', 'SCOTT', 'ANALYST', '7566', '19-Apr-87', '3000', '', '20'] --------------- 5000
['7839', 'KING', 'PRESIDENT', '', '17-Nov-81', '5000', '', '10'] --------------- 7000
['7844', 'TURNER', 'SALESMAN', '7698', '08-Sep-81', '1500', '0', '30'] --------------- 3500
['7876', 'ADAMS', 'CLERK', '7788', '23-May-87', '1100', '', '20'] --------------- 3100
['7900', 'JAMES', 'CLERK', '7698', '03-Dec-81', '950', '', '30'] --------------- 2950
['7902', 'FORD', 'ANALYST', '7566', '03-Dec-81', '3000', '', '20'] --------------- 5000
['7934', 'MILLER', 'CLERK', '7782', '23-Jan-82', '1300', '', '10'] --------------- 3300

In [98]:
#3 wap list all the employees whose commission is null.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[-2]=='':
        print(i[1])

SMITH
JONES
BLAKE
CLARK
SCOTT
KING
ADAMS
JAMES
FORD
MILLER

In [106]:
#4 wap total salary given to each employee (sal+comm).

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[1]=='ENAME':
        print(i[1],'total_salary')
    elif i[-2]!='':
        print(i[1],int(i[-3])+int(i[-2]))
    else:
        print(i[1],int(i[-3])+0)

ENAME total_salary
SMITH 800
ALLEN 1900
WARD 1750
JONES 2975
MARTIN 2650
BLAKE 2850
CLARK 2450
SCOTT 3000
KING 5000
TURNER 1500
ADAMS 1100
JAMES 950
FORD 3000
MILLER 1300

In [109]:
#5 wap the annual salary of the employee whose name is smith.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for j in fr:
    if j[1]=='SMITH':
        print(j[-3])

800

In [113]:
#6 wap name of the employees working as clerk.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[2]=='CLERK':
        print(i[1])

SMITH
ADAMS
JAMES
MILLER

In [121]:
#7 wap details of the emp who earns more than 2000

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[0]=='EMPNO':
        print(i)
    elif int(i[-3])>2000:
        print(i)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
['7566', 'JONES', 'MANAGER', '7839', '02-Apr-81', '2975', '', '20']
['7698', 'BLAKE', 'MANAGER', '7839', '01-May-81', '2850', '', '30']
['7782', 'CLARK', 'MANAGER', '7839', '09-Jun-81', '2450', '', '10']
['7788', 'SCOTT', 'ANALYST', '7566', '19-Apr-87', '3000', '', '20']
['7839', 'KING', 'PRESIDENT', '', '17-Nov-81', '5000', '', '10']
['7902', 'FORD', 'ANALYST', '7566', '03-Dec-81', '3000', '', '20']

In [15]:
#8 wap details of the emp who was hired after 01-jan-81.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if (i[4].split('-')[-1]) > '81':
        print(i)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
['7788', 'SCOTT', 'ANALYST', '7566', '19-Apr-87', '3000', '', '20']
['7876', 'ADAMS', 'CLERK', '7788', '23-May-87', '1100', '', '20']
['7934', 'MILLER', 'CLERK', '7782', '23-Jan-82', '1300', '', '10']

In [17]:
#9 wap details of the employees working as manager.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

for i in fr:
    if i[2]=='MANAGER':
        print(i)

['7566', 'JONES', 'MANAGER', '7839', '02-Apr-81', '2975', '', '20']
['7698', 'BLAKE', 'MANAGER', '7839', '01-May-81', '2850', '', '30']
['7782', 'CLARK', 'MANAGER', '7839', '09-Jun-81', '2450', '', '10']

In [22]:
#10 wap name of the employee and his manager's name if employee is working as clerk.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

mgr=[]
n={}
for i in fr:
    if i[2]=='CLERK':
        mgr+=[i[3]]
        n[i[1]]=i[3]

fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

m={}
for i in fr:
    if i[0] in mgr :
        m[i[1]]=i[0]

print('ename','-','manager')
for i in n:
    for j in m:
        if n[i]==m[j]:
            print(i,'-',j)

ename - manager
SMITH - FORD
ADAMS - SCOTT
JAMES - BLAKE
MILLER - CLARK

In [22]:
#10 wap name of the employee and manager's designation if manager works in dept 10 or 20.

import csv
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)

emgr={}
for i in fr:
    emgr[i[1]]=i[3]
# print(emgr)

m={}
fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)
for i in fr:
    if i[-1] in ('10','20'):
        m[i[1]]=i[0]
# print(m)

res1={}
for i in emgr:
    for j in m:
        if emgr[i]==m[j]:
            # print(i,j)
            res1[i]=j
# print(res1)

fp=open(r'D:\Cloud Computing and Python\Python\csv_file_handling\emp_table.csv','r')
fr=csv.reader(fp)
res2={}
for i in fr:
    for j in res1:
        if i[1]==res1[j]:
            res2[res1[j]]=i[2]
# print(res2)

for i in res1:
    for j in res2:
        if res1[i]==j:
            print(i,res2[j])

SMITH ANALYST
JONES PRESIDENT
BLAKE PRESIDENT
CLARK PRESIDENT
SCOTT MANAGER
ADAMS ANALYST
FORD MANAGER
MILLER MANAGER

In [1]:
#modifying specific columns in csv file.

import csv
fp1=open(r"D:\Python\csv_file_handling\emp_table.csv",'r')
fr1=csv.reader(fp1)


for i in fr1:
    if i[-2]!='':
        import csv
        fp=open(r"D:\Python\csv_file_handling\emp_table copy.csv",'a',newline='\n')
        fr=csv.writer(fp)
        print(i)
        fr.writerow(i)
        fp.close()
    else:
        import csv
        i[-2]='null'
        fp=open(r"D:\Python\csv_file_handling\emp_table copy.csv",'a',newline='\n')
        fr=csv.writer(fp)
        print(i)
        fr.writerow(i)
        i[-2]=''
        fp.close()

fp1.close()

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
['7369', 'SMITH', 'CLERK', '7902', '17-Dec-80', '800', 'null', '20']
['7499', 'ALLEN', 'SALESMAN', '7698', '20-Feb-81', '1600', '300', '30']
['7521', 'WARD', 'SALESMAN', '7698', '22-Feb-81', '1250', '500', '30']
['7566', 'JONES', 'MANAGER', '7839', '02-Apr-81', '2975', 'null', '20']
['7654', 'MARTIN', 'SALESMAN', '7698', '28-Sep-81', '1250', '1400', '30']
['7698', 'BLAKE', 'MANAGER', '7839', '01-May-81', '2850', 'null', '30']
['7782', 'CLARK', 'MANAGER', '7839', '09-Jun-81', '2450', 'null', '10']
['7788', 'SCOTT', 'ANALYST', '7566', '19-Apr-87', '3000', 'null', '20']
['7839', 'KING', 'PRESIDENT', '', '17-Nov-81', '5000', 'null', '10']
['7844', 'TURNER', 'SALESMAN', '7698', '08-Sep-81', '1500', '0', '30']
['7876', 'ADAMS', 'CLERK', '7788', '23-May-87', '1100', 'null', '20']
['7900', 'JAMES', 'CLERK', '7698', '03-Dec-81', '950', 'null', '30']
['7902', 'FORD', 'ANALYST', '7566', '03-Dec-81', '3000', 'null', '20']
['7934', 'MILLER', 'CLERK', '7782', '23-Jan-82', '1300', 'null', '10']

In [ ]:
import csv
fp1=open(r"D:\Python\csv_file_handling\emp_table.csv",'r')
fr1=csv.reader(fp1)

for i in fr1:
    if i[4]!='HIREDATE':
        print(i[4][-1:-3])

In [16]:
def test(st):
    l=st.split('-')
    l[0],l[-1]='19'+l[-1],l[0]
    if l[1]=='DEC':
        l[1]='12'
    elif l[1]=='NOV':
        l[1]='11'
    elif l[1]=='OCT':
        l[1]='10'
    elif l[1]=='SEP':
        l[1]='09'
    elif l[1]=='AUG':
        l[1]='08'
    elif l[1]=='JUL':
        l[1]='07'
    elif l[1]=='JUN':
        l[1]='06'
    elif l[1]=='MAY':
        l[1]='05'
    elif l[1]=='APR':
        l[1]='04'
    elif l[1]=='MAR':
        l[1]='03'
    elif l[1]=='FEB':
        l[1]='02'
    else:
        l[1]='01'
    st='-'.join(l)
    return st

import csv
fp1=open(r"D:\Python\csv_file_handling\emp_table.csv",'r')
fr1=csv.reader(fp1)

for i in fr1:
    if i[4]!='HIREDATE':
        print(i[1],test(i[4].upper()),'--------',i[4].upper())

SMITH 1980-12-17 -------- 17-DEC-80
ALLEN 1981-02-20 -------- 20-FEB-81
WARD 1981-02-22 -------- 22-FEB-81
JONES 1981-04-02 -------- 02-APR-81
MARTIN 1981-09-28 -------- 28-SEP-81
BLAKE 1981-05-01 -------- 01-MAY-81
CLARK 1981-06-09 -------- 09-JUN-81
SCOTT 1987-04-19 -------- 19-APR-87
KING 1981-11-17 -------- 17-NOV-81
TURNER 1981-09-08 -------- 08-SEP-81
ADAMS 1987-05-23 -------- 23-MAY-87
JAMES 1981-12-03 -------- 03-DEC-81
FORD 1981-12-03 -------- 03-DEC-81
MILLER 1982-01-23 -------- 23-JAN-82

In [10]:
st="21-feb-1980".upper()
# st.upper()
print(st)

21-FEB-1980