In [38]:
#csv read

import csv
fp=open(r'D:\Python\csv_file_handling\emp_table.csv','r')
res=csv.reader(fp)

for i in res:
    print(i)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
['7369', 'SMITH', 'CLERK', '7902', '17-Dec-80', '800', '', '20']
['7499', 'ALLEN', 'SALESMAN', '7698', '20-Feb-81', '1600', '300', '30']
['7521', 'WARD', 'SALESMAN', '7698', '22-Feb-81', '1250', '500', '30']
['7566', 'JONES', 'MANAGER', '7839', '02-Apr-81', '2975', '', '20']
['7654', 'MARTIN', 'SALESMAN', '7698', '28-Sep-81', '1250', '1400', '30']
['7698', 'BLAKE', 'MANAGER', '7839', '01-May-81', '2850', '', '30']
['7782', 'CLARK', 'MANAGER', '7839', '09-Jun-81', '2450', '', '10']
['7788', 'SCOTT', 'ANALYST', '7566', '19-Apr-87', '3000', '', '20']
['7839', 'KING', 'PRESIDENT', '', '17-Nov-81', '5000', '', '10']
['7844', 'TURNER', 'SALESMAN', '7698', '08-Sep-81', '1500', '0', '30']
['7876', 'ADAMS', 'CLERK', '7788', '23-May-87', '1100', '', '20']
['7900', 'JAMES', 'CLERK', '7698', '03-Dec-81', '950', '', '30']
['7902', 'FORD', 'ANALYST', '7566', '03-Dec-81', '3000', '', '20']
['7934', 'MILLER', 'CLERK', '7782', '23-Jan-82', '1300', '', '10']

In [56]:
#csv writerow 

fp=open(r'D:\Python\csv_file_handling\demofile.csv','w',newline='')
res=csv.writer(fp)
res.writerow(['id','name','rent'])
fp.close()

In [57]:
#csv writerows(append)

l=[['001','abhinav','6500'],['002','kvd','6000']]
fp=open(r'D:\Python\csv_file_handling\demofile.csv','a',newline='')
res=csv.writer(fp)
res.writerows(l)
fp.close()

In [58]:
#csv append

fp=open(r'D:\Python\csv_file_handling\demofile.csv','a',newline='')
res=csv.writer(fp)
res.writerow(['003','sai','6000'])
fp.close()

In [40]:
#csv dictreader

import csv
fp=open(r'D:\Python\csv_file_handling\emp_table.csv','r')
res=csv.DictReader(fp)

for i in res:
    print(i)

{'EMPNO': '7369', 'ENAME': 'SMITH', 'JOB': 'CLERK', 'MGR': '7902', 'HIREDATE': '17-Dec-80', 'SAL': '800', 'COMM': '', 'DEPTNO': '20'}
{'EMPNO': '7499', 'ENAME': 'ALLEN', 'JOB': 'SALESMAN', 'MGR': '7698', 'HIREDATE': '20-Feb-81', 'SAL': '1600', 'COMM': '300', 'DEPTNO': '30'}
{'EMPNO': '7521', 'ENAME': 'WARD', 'JOB': 'SALESMAN', 'MGR': '7698', 'HIREDATE': '22-Feb-81', 'SAL': '1250', 'COMM': '500', 'DEPTNO': '30'}
{'EMPNO': '7566', 'ENAME': 'JONES', 'JOB': 'MANAGER', 'MGR': '7839', 'HIREDATE': '02-Apr-81', 'SAL': '2975', 'COMM': '', 'DEPTNO': '20'}
{'EMPNO': '7654', 'ENAME': 'MARTIN', 'JOB': 'SALESMAN', 'MGR': '7698', 'HIREDATE': '28-Sep-81', 'SAL': '1250', 'COMM': '1400', 'DEPTNO': '30'}
{'EMPNO': '7698', 'ENAME': 'BLAKE', 'JOB': 'MANAGER', 'MGR': '7839', 'HIREDATE': '01-May-81', 'SAL': '2850', 'COMM': '', 'DEPTNO': '30'}
{'EMPNO': '7782', 'ENAME': 'CLARK', 'JOB': 'MANAGER', 'MGR': '7839', 'HIREDATE': '09-Jun-81', 'SAL': '2450', 'COMM': '', 'DEPTNO': '10'}
{'EMPNO': '7788', 'ENAME': 'SCOTT', 'JOB': 'ANALYST', 'MGR': '7566', 'HIREDATE': '19-Apr-87', 'SAL': '3000', 'COMM': '', 'DEPTNO': '20'}
{'EMPNO': '7839', 'ENAME': 'KING', 'JOB': 'PRESIDENT', 'MGR': '', 'HIREDATE': '17-Nov-81', 'SAL': '5000', 'COMM': '', 'DEPTNO': '10'}
{'EMPNO': '7844', 'ENAME': 'TURNER', 'JOB': 'SALESMAN', 'MGR': '7698', 'HIREDATE': '08-Sep-81', 'SAL': '1500', 'COMM': '0', 'DEPTNO': '30'}
{'EMPNO': '7876', 'ENAME': 'ADAMS', 'JOB': 'CLERK', 'MGR': '7788', 'HIREDATE': '23-May-87', 'SAL': '1100', 'COMM': '', 'DEPTNO': '20'}
{'EMPNO': '7900', 'ENAME': 'JAMES', 'JOB': 'CLERK', 'MGR': '7698', 'HIREDATE': '03-Dec-81', 'SAL': '950', 'COMM': '', 'DEPTNO': '30'}
{'EMPNO': '7902', 'ENAME': 'FORD', 'JOB': 'ANALYST', 'MGR': '7566', 'HIREDATE': '03-Dec-81', 'SAL': '3000', 'COMM': '', 'DEPTNO': '20'}
{'EMPNO': '7934', 'ENAME': 'MILLER', 'JOB': 'CLERK', 'MGR': '7782', 'HIREDATE': '23-Jan-82', 'SAL': '1300', 'COMM': '', 'DEPTNO': '10'}

In [65]:
#csv dict writer

fp=open(r'D:\Python\csv_file_handling\demofile.csv','w',newline='')
res=csv.DictWriter(fp,['name','age','branch'])
res.writeheader()
res.writerow({'name':'abhinav','age':'24','branch':'ece'})
fp.close()

In [68]:
#csv dict writer(append)

l=['name','age','branch']
fp=open(r'D:\Python\csv_file_handling\demofile.csv','a',newline='')
res=csv.DictWriter(fp,fieldnames=l)

res.writerow({'age':'33','name':'virat','branch':'sports'})
fp.close()

In [13]:
import csv

li=['anudeep','20','ece']
z=[['king','60','president'],['yuvraj','41','sports']]

with open(r'D:\Python\csv_file_handling\demofile.csv','a',newline='') as fp:
    fr=csv.writer(fp)
    fr.writerows(z)

In [15]:
import csv

with open(r'D:\Python\csv_file_handling\demofile.csv','r',newline='') as fp:
    fr=csv.DictReader(fp)
    for i in fr:
        print(i)

{'name': 'abhinav', 'age': '24', 'branch': 'ece'}
{'name': 'virat', 'age': '33', 'branch': 'sports'}
{'name': 'anudeep', 'age': '20', 'branch': 'ece'}
{'name': 'king', 'age': '60', 'branch': 'president'}
{'name': 'yuvraj', 'age': '41', 'branch': 'sports'}

In [30]:
import csv

d={'name':'john','age':'25','branch':'cse'}
fn=['name','age','branch']

li=[{'name':'sachin','age':'51','branch':'sports'},{'name':'miller','age':'40','branch':'eee'}]

with open(r'D:\Python\csv_file_handling\demofile.csv','a',newline='') as fp:
    fr=csv.DictWriter(fp,fn)
    # fr.writeheader()
    fr.writerows(li)