In [12]:
#1 without args and without return

def demo():
    n=5
    start=1
    prod=1
    while start<=n:
        prod*=start
        start+=1
    print(prod)

demo()

120

In [9]:
#2 with args and without return

def demo(n):
    start=1
    prod=1
    while start<=n:
        prod*=start
        start+=1
    print(prod)

demo(7)

5040

In [10]:
#3 without args and with return

def demo():
    n=6
    start=1
    prod=1
    while start<=n:
        prod*=start
        start+=1
    return prod
demo()

720

In [11]:
#4 with args and with return

def demo(n):
    start=1
    prod=1
    while start<=n:
        prod*=start
        start+=1
    return prod
demo(4)

24

In [186]:
#list methods and special methods

l=dir(list)

# print(l)
a=1
for i in l:
    if i[0]!='_':
        print('{}.'.format(a),i)
        a+=1

1. append
2. clear
3. copy
4. count
5. extend
6. index
7. insert
8. pop
9. remove
10. reverse
11. sort

In [37]:
#append

l=['apple',10.05,{1,2,3},True,19]

if l.append('hello')==None:
    print('yes')
    print(l)

yes
['apple', 10.05, {1, 2, 3}, True, 19, 'hello']

In [41]:
#clear

l=['apple',10.05,{1,2,3},True,19]
print(l.clear())
print(l)

None
[]

In [66]:
# normal copy

li=[10,20.05,30]
z=li

li[0]=99
z[-1]='aabhinnav'
print(li)
print(z)

[99, 20.05, 'aabhinnav']
[99, 20.05, 'aabhinnav']

In [65]:
#shallow copy

ab=['apple',(1.1,2.2),{'name':'abhinav','age':24},'hi',[89,99]]
cd=ab.copy()

ab[0]='banana'
ab[-1][3:3]=['done']
ab[1]+=(3.3,)
ab[2]['name']='anudeep'
print(ab)
print(cd)

['banana', (1.1, 2.2, 3.3), {'name': 'anudeep', 'age': 24}, 'hi', [89, 99, 'done']]
['apple', (1.1, 2.2), {'name': 'anudeep', 'age': 24}, 'hi', [89, 99, 'done']]

In [67]:
#deep copy

import copy

ab=['apple',(1.1,2.2),{'name':'abhinav','age':24},'hi',[89,99]]
cd=copy.deepcopy(ab)

ab[0]='banana'
ab[-1][3:3]=['done']
ab[1]+=(3.3,)
ab[2]['name']='anudeep'
print(ab)
print(cd)

['banana', (1.1, 2.2, 3.3), {'name': 'anudeep', 'age': 24}, 'hi', [89, 99, 'done']]
['apple', (1.1, 2.2), {'name': 'abhinav', 'age': 24}, 'hi', [89, 99]]

In [102]:
#count

l=[22,11,7,8,9,11,22,44,55,7,6,44,11,22]
print(l.count(0))

0

In [96]:
#count min and max value

l=[999,55,10,89,72,0.7,36,67,18]
min=l[0]
max=l[0]

for i in l:
    if i<min:
        min=i
    if i>max:
        max=i
print(min,max)

0.7 999

In [123]:
#extend

l=[10,20.05,30]
l.extend((19,'hi'))
print(l)

[10, 20.05, 30, 19, 'hi']

In [33]:
#index

l=[10,20,'berry',30,5,30]
print(l.index(30,4))

5

In [124]:
#insert 

l=[10,20.05,30]
l.insert(1,'ball')
print(l)

[10, 'ball', 20.05, 30]

In [140]:
#pop

l=[0,11,22,33,44,55,66]
print(l.pop(1))
print(l)

11
[0, 22, 33, 44, 55, 66]

In [31]:
#remove

l=[0,11,44,22,33,44,55,66]
print(l.remove(44))
print(l)

None
[0, 11, 22, 33, 44, 55, 66]

In [168]:
#removes all occurances of a value

l=[0,11,44,22,33,44,55,66]

def uremove(coll,ele):
    if type(coll)!=list:
        return 1
    a=0
    for i in coll:
        if coll[a]==ele:
            del coll[a]
        a+=1
    return coll
uremove(l,44)

[0, 11, 22, 33, 55, 66]

In [171]:
#reverse

l=[0,11,22,33,44,55,66]
print(l.reverse())
print(l)

None
[66, 55, 44, 33, 22, 11, 0]

In [185]:
#sort

# l=[22,11,7,8,9,11,22,44,55,7,6,44,11,22]
l=[[0.9,10,20,22],[1,2,7,8,9,4],[],[21,22]]
print(l.sort(key=len,reverse=True))
print(l)

None
[[1, 2, 7, 8, 9, 4], [0.9, 10, 20, 22], [21, 22], []]

In [188]:
#tuple methods and special methods

t=dir(tuple)

a=1
for i in t:
    if i[0]!='_':
        print('{}.'.format(a),i)
        a+=1

1. count
2. index

In [12]:
#count

t=(10,20,30,40,50,60,70,10,10,40,10,40,70)
print(t.count(40))

3

In [47]:
#index

t=(10,20,30,40,50,60,70,10,10,40,10,40,70)
print(t.index(10,1))

7

In [43]:
#dict methods and special methods

d=dir(dict)

a=1
for i in d:
    if i[0]!='_':
        print('{}.'.format(a),i)
        a+=1

1. clear
2. copy
3. fromkeys
4. get
5. items
6. keys
7. pop
8. popitem
9. setdefault
10. update
11. values

In [49]:
#clear

d={'name':'pkl','season':10,'team':'telugu titans'}
print(d.clear())
print(d)

None
{}

In [56]:
#copy

d={'name':'pkl','season':10,'team':'telugu titans','stats':[2,15,0]}
res=d.copy()

d['team']='TT'
res['stats'][1]=16

print('d :',d)
print('res :',res)

d : {'name': 'pkl', 'season': 10, 'team': 'TT', 'stats': [2, 16, 0]}
res : {'name': 'pkl', 'season': 10, 'team': 'telugu titans', 'stats': [2, 16, 0]}

In [134]:
#get

d={'name':'pkl','season':10,'team':'telugu titans'}
print(d.get('team'))
print(d.get('year'))
print(d.get('wins',2))
print(d)

telugu titans
None
2
{'name': 'pkl', 'season': 10, 'team': 'telugu titans'}

In [94]:
#pop

d={'name':'pkl','season':10,'team':'telugu titans','wins':2}

print(d.pop('year',2023))
print(d.pop('wins'))

print(d)

2023
2
{'name': 'pkl', 'season': 10, 'team': 'telugu titans'}

In [95]:
#popitem

d={'name':'pkl','season':10,'team':'telugu titans','wins':2}

print(d.popitem())

('wins', 2)

In [108]:
# keys,values,items

d={'name':'pkl','season':10,'team':'telugu titans','wins':2}

res=d.items()

for i in res:
    print(i[0],':',i[1])

name : pkl
season : 10
team : telugu titans
wins : 2

In [123]:
#fromkeys

res=dict.fromkeys([10,20,30],True)
print(res)

{10: True, 20: True, 30: True}

In [1]:
#setdefault

d={'name':'pkl','season':10,'team':'telugu titans','wins':2}
print(d.setdefault('year'))
print(d.setdefault('name'))
print(d.setdefault('tie',0))
print(d)

None
pkl
0
{'name': 'pkl', 'season': 10, 'team': 'telugu titans', 'wins': 2, 'year': None, 'tie': 0}

In [13]:
#update

d={'name':'abhinav','age':24}
d.update({'dept':'ece'})
d.update({19:4})
print(d)

{'name': 'abhinav', 'age': 24, 'dept': 'ece', 19: 4}

In [14]:
#set methods and special methods

s=dir(set)

a=1
for i in s:
    if i[0]!='_':
        print('{}.'.format(a),i)
        a+=1

1. add
2. clear
3. copy
4. difference
5. difference_update
6. discard
7. intersection
8. intersection_update
9. isdisjoint
10. issubset
11. issuperset
12. pop
13. remove
14. symmetric_difference
15. symmetric_difference_update
16. union
17. update

In [23]:
#add

s={10,20,30,40}
print(s.add(99))   #takes exactly one argument
print(s)

None
{99, 40, 10, 20, 30}

In [22]:
#clear

s={10,20,30,40}
print(s.clear())
print(s)

None
set()

In [24]:
#copy

s={11,22,33,44}
t=s.copy()
print(t)

{33, 11, 44, 22}

In [53]:
#union

s={10,20,30}
t={11,20,44}
print(s.union(t,{99,199}))
print(s|t)

{99, 20, 199, 10, 11, 44, 30}
{20, 10, 11, 44, 30}

In [49]:
#update

s={10,20,30}
t={11,20,44}
print('s ===',s)
print(s.update(t,{99,199}))
print('s ===',s)

s === {10, 20, 30}
None
s === {99, 20, 199, 10, 11, 44, 30}

In [48]:
#difference

s={10,20,30,11}
t={11,20,44}
print(s.difference(t))
print(s.difference(t,{99,199}))
print(s - t)

{10, 30}
{10, 30}
{10, 30}

In [46]:
#difference_update

s={10,20,30,40}
t={11,20,44}
print('s ===',s)
print(s.difference_update(t,{99,199}))
print('s ===',s)

s === {40, 10, 20, 30}
None
s === {40, 10, 30}

In [44]:
#intersection

s={10,20,30,11}
t={11,20,44}
print(s.intersection(t,{99,199}))
print(s & t)

set()
{11, 20}

In [43]:
#intersection_update

s={10,20,30,40}
t={11,20,44}
print('s ===',s)
print(s.intersection_update(t,{99,199}))
print('s ===',s)

s === {40, 10, 20, 30}
None
s === set()

In [55]:
#symmetric_difference                         

s={10,20,30}
t={11,20,44}
print(s.symmetric_difference(t))     #takes exactly one argument
print(s ^ t)

{10, 11, 44, 30}
{10, 11, 44, 30}

In [56]:
#symmetric_difference_update

s={10,20,30,40,11}
t={11,20,44}
print('s ===',s)
print(s.symmetric_difference_update(t))   #takes exactly one argument
print('s ===',s)

s === {20, 40, 10, 11, 30}
None
s === {40, 10, 44, 30}

In [72]:
#pop

s={11,22,44,55,1}
print(s.pop())
print(s)

1
{22, 55, 11, 44}

In [77]:
#remove

s={0,11,22,33,44,55,66,77}
print(s.remove(66))

None

In [82]:
#discard

s={1,2,3,4}
print(s.discard(3))
print(s)
print(s.discard(99))

None
{1, 2, 4}
None

In [2]:
#string methods and special methods

st=dir(str)

a=1
for i in st:
    if i[0]!='_':
        print('{}.'.format(a),i,end=',')
        a+=1

1. capitalize,2. casefold,3. center,4. count,5. encode,6. endswith,7. expandtabs,8. find,9. format,10. format_map,11. index,12. isalnum,13. isalpha,14. isascii,15. isdecimal,16. isdigit,17. isidentifier,18. islower,19. isnumeric,20. isprintable,21. isspace,22. istitle,23. isupper,24. join,25. ljust,26. lower,27. lstrip,28. maketrans,29. partition,30. removeprefix,31. removesuffix,32. replace,33. rfind,34. rindex,35. rjust,36. rpartition,37. rsplit,38. rstrip,39. split,40. splitlines,41. startswith,42. strip,43. swapcase,44. title,45. translate,46. upper,47. zfill,

In [15]:
#encode decode

st='venkata durga abhinav'
res=st.encode()
z=res.decode()
print('bytes ----',res,'str ----',z,sep='\n')

bytes ----
b'venkata durga abhinav'
str ----
venkata durga abhinav

In [134]:
#center

st='good morning'
print(st.center(20))
print(st.center(20,'='))

    good morning
====good morning====

In [82]:
#index

st='hai and hello!'
print(st.index('he'))
print(st.index('a',-10))

8
4

In [89]:
#find

st='hai and hello, how are you?'
print(st.find('you'))
print(st.find('z'))

23
-1

In [114]:
#rindex

st='hai and hello, how are you?'
print(st.rindex('a'))

19

In [112]:
#rfind

st='hai and hello, how are you?'
print(st.rfind('o'))
print(st.rfind('z'))

24
-1

In [121]:
#expandtabs

st='h\ta\ti\ti'
print(st.expandtabs(4))

h   a   i   i

In [129]:
#replace()

st = "one one was a race horse, two two was one too."

x = st.replace("one", "three",2)

print(x)

st='how are you?'
print(st.replace('o','Z'))

three three was a race horse, two two was one too.
hZw are yZu?

In [139]:
#strip

st='-----banana------'
print(st.strip("-"))

banana

In [145]:
#split

st='hai and hello, how are you?'
print(st.split(' '))

['hai', 'and', 'hello,', 'how', 'are', 'you?']

In [148]:
#translate and maketrans

txt='apples and banana'
x='apples'
y='banana'
st=str.maketrans(x,y)
print(st)
print(txt.translate(st))

{97: 98, 112: 110, 108: 97, 101: 110, 115: 97}
bnnana bnd bbnbnb

In [151]:
#translate and maketrans
 
txt = "Good night Sam!"

x = "mSa"
y = "eJo"
z = "odnght"

st = str.maketrans(x, y, z)

print(st)
print(txt.translate(st))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
G i Joe!

In [188]:
#isdecimal

st0='1234'
st1='1234 567'

print(st0.isdecimal())
print(st1.isdecimal())

True
False

In [190]:
#isdigit

st0='1234'
st1='12.34'

print(st0.isdigit())
print(st1.isdigit())

True
False

In [165]:
#startswith

st='himabindu'
print(st.startswith('h'))
print(st.startswith('i'))
print(st.startswith('i',1))

True
False
True

In [192]:
#endswith

st='aabhinnav'
print(st.endswith('av'))

True

In [14]:
#count

# st="sherlock holmes is a fictional detective created by british author arthur conan doyle"
st="strawberry"

print(st.count('s'))
print(st.count('s',1))
print(st.count('r',-3))

1
0
2

In [23]:
#join

l=['venkata','durga','abhinav']
d={'apple':1,'blueberry':2,'cranberry':3}
print(' '.join(l))
print(','.join(d))

venkata durga abhinav
apple,blueberry,cranberry

In [163]:
#format

st='my name is {} and my age is {}'
print(st)
st='my name is {} and my age is {}'.format('abhinav',24)
print(st)

txt = "For only {} rupees!"
print(txt.format('%.4f' %49))
txt = "For only {price:.2f} rupees!"
print(txt.format(price=49))

st="my name is %s and my age is %s" % ('abhinav',24)
print(st)

my name is {} and my age is {}
my name is abhinav and my age is 24
For only 49.0000 rupees!
For only 49.00 rupees!
my name is abhinav and my age is 24

In [166]:
#format_map

d={'x':'anudeep','y':20}
res='my brother name is {x} and his age is {y}.'.format_map(d)
print(res)
d={'x':['ram','sai'],'y':[25,50]}
res='name is {x[0]} and age is {y[0]}'.format_map(d)
print(res)
res='name is {x[1]} and age is {y[1]}'.format_map(d)
print(res)

my brother name is anudeep and his age is 20.
name is ram and age is 25
name is sai and age is 50

In [102]:
#splitlines

st='''Sherlock Holmes is a fictional detective created by British author Arthur Conan Doyle
Referring to himself as a "consulting detective" in the stories
Holmes is known for his proficiency with observation, deduction
forensic science and logical reasoning that borders on the fantastic
which he employs when investigating cases for a wide variety of clients, including Scotland Yard'''

print(st.splitlines())

['Sherlock Holmes is a fictional detective created by British author Arthur Conan Doyle', 'Referring to himself as a "consulting detective" in the stories', 'Holmes is known for his proficiency with observation, deduction', 'forensic science and logical reasoning that borders on the fantastic', 'which he employs when investigating cases for a wide variety of clients, including Scotland Yard']