In [25]:
#1

import pymysql

mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='sql_hr')
cus=mydb.cursor()

# cus.execute("show tables")
# res=cus.fetchall()

cus.execute("select * from employees")
res=cus.fetchall()

l=[]
for i in  res:
    l+=[i]

cus.execute("desc employees")
res=cus.fetchall()

z=[]
for i in res:
    z+=[i[0]]

In [35]:
#2

import csv

aa={'employee_id':'12345','first_name':'abhinav','last_name':'kotagiri','job_title':'developer','salary':'100k','reports_to':None,
    'office_id':1}
with open('1-csv-file.csv','a',newline='') as fo:
    write=csv.DictWriter(fo,z)
    write.writerow(aa)

with open(r'D:\Python\all-concepts-practice\1-csv-file.csv','r') as fo:
    res=csv.DictReader(fo)
    # print(res)

    a=0
    for i in res:
        print(i)
        a+=1

        
        if a==1:
            break

{'employee_id': '33391', 'first_name': "D'arcy", 'last_name': 'Nortunen', 'job_title': 'Account Executive', 'salary': '62871', 'reports_to': '37270', 'office_id': '1'}

In [21]:
import pymysql

db=pymysql.connect(host='python-database-1.cxbftnytvoi3.us-east-1.rds.amazonaws.com',port=3306,user='admin',password='mydatabase',database='csvdb')
cus=db.cursor()

# res=cus.execute('show tables')
# cus.fetchall()
# print(res)

cus.execute("create table emp(id int,fname varchar(25),lname varchar(25),job varchar(25),sal int,mgr int,deptno int)")
db.commit()

In [ ]:
import csv,pymysql

def myfunc():
    db=pymysql.connect(host='python-database-1.cxbftnytvoi3.us-east-1.rds.amazonaws.com',port=3306,user='admin',password='mydatabase',database='csvdb')
    cus=db.cursor()
    fo=open(r'D:\Python\all-concepts-practice\1-csv-file.csv','r')
    fr=csv.reader(fo)
    for i in fr:
        if i[0]!='employee_id':
            cus.execute("insert into emp values(%s,%s,%s,%s,%s,%s,%s)",i)
            db.commit()
    # cus.execute('truncate table emp')
    # db.commit()



# myfunc()


for i in range(0,25):
    print(myfunc())

In [ ]:
import csv,pymysql

def func1():
    fo=open(r'D:\Python\all-concepts-practice\1-csv-file.csv','r')
    fr=csv.reader(fo)
    db=pymysql.connect(host='database-1.cxbftnytvoi3.us-east-1.rds.amazonaws.com',user='admin',password='admindatabase1',port=3306,database='database1')
    cus=db.cursor()
# cus.execute("create table emp(id int,fname varchar(25),lname varchar(25),job varchar(50),sal int,mgr int,deptno int)")
    for i in fr:
        if i[0]!='employee_id':
            cus.execute('insert into emp values(%s,%s,%s,%s,%s,%s,%s)',i)
            db.commit()

for i in range(0,19):
    print(func1())

In [ ]:
import csv,pymysql

fo=open(r'D:\Python\all-concepts-practice\1-csv-file.csv','r')
fr=csv.reader(fo)

def func2():
    fo=open(r'D:\Python\all-concepts-practice\1-csv-file.csv','r')
    fr=csv.reader(fo)
    db=pymysql.connect(host='database-2.cxbftnytvoi3.us-east-1.rds.amazonaws.com',user='admin',password='admindatabase2',port=3306,database='database2')
    cus=db.cursor()
    for i in fr:
        if i[0]!='employee_id':
            cus.execute('insert into emp values(%s,%s,%s,%s,%s,%s,%s)',i)
            db.commit()

for i in range(0,19):
    print(func2())