In [1]:
import pandas as pd

df=pd.read_csv(r"D:\Python\csv_file_handling\Untitled spreadsheet.csv")
print(df)

        Name  age        date          Item     itemtype  price  Total price
0      Sunil   28  06-01-2020  Jeans  Levis  Casual Wear    900         1100
1       Naga   22  06-02-2020  Jeans  Levis  Casual Wear    900         1100
2     Mahesh   17  26-03-2020  Jeans  Levis  Casual Wear    900         1100
3     Ganesh   26  17-04-2020        Tshirt  Semi Formal    400          600
4      Kumar   22  19-04-2020        Tshirt  Semi Formal    400          600
5      Vijay   29  26-04-2020        Tshirt  Semi Formal    400          600
6      Sunil   32  26-04-2020  Jeans  Levis  Casual Wear    900         1100
7       Naga   17  29-04-2020        Tshirt  Semi Formal    400          600
8      Rajiv   10  30-04-2020        Tshirt  Semi Formal    400          600
9     Mahesh   29  02-05-2020        Tshirt  Semi Formal    400          600
10  Nagaraju    1  10-05-2020  Jeans  Denim  Casual Wear    700          900
11      Mahi   28  15-05-2020        Tshirt  Semi Formal    400          600
12     shiva   28  06-06-2020    Jeans Zara  Casual Wear    700          900
13     Kumar   28  09-06-2020   Shirt Arrow       Formal   1000         1200

In [8]:
import pandas as pd

df=pd.read_csv(r"D:\Python\csv_file_handling\Untitled spreadsheet.csv")

print(df[df.columns[:4]].head())

     Name  age        date          Item
0   Sunil   28  06-01-2020  Jeans  Levis
1    Naga   22  06-02-2020  Jeans  Levis
2  Mahesh   17  26-03-2020  Jeans  Levis
3  Ganesh   26  17-04-2020        Tshirt
4   Kumar   22  19-04-2020        Tshirt

In [14]:
# series

import pandas as pd

arr=[0,1,2,3,4]

print(pd.Series(arr))

order=['i1','i2','i3','i4','i5']

print(pd.Series(arr,index=order))

0    0
1    1
2    2
3    3
4    4
dtype: int64
i1    0
i2    1
i3    2
i4    3
i5    4
dtype: int64

In [19]:
s1=pd.Series(arr,index=order)
print(s1[0::2])

i1    0
i3    2
i5    4
dtype: int64