In [30]:
import pymysql

mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',database='aabhinnav')
cus=mydb.cursor()

# cus.execute("show tables")
# res=cus.fetchall()

cus.execute("select * from emp")
res=cus.fetchall()

print("----- %s rows affected -----" % cus.rowcount)
for i in res:
    print(i[4])

----- 14 rows affected -----
1980-12-17
1981-02-20
1981-02-22
1981-04-02
1981-09-28
1981-05-01
1981-06-09
1987-04-19
1981-11-17
1981-09-08
1987-05-23
1981-12-03
1981-12-03
1982-01-23

In [34]:
#copying content from one csv file to another csv file.

import csv

with open(r'D:\Python\csv_file_handling\Untitled spreadsheet.csv','r') as fp:
    res=csv.reader(fp)
    for i in res:
        f1=open(r'D:\Python\csv_file_handling\Untitled spreadsheet-2.csv','a',newline='')
        fr=csv.writer(f1)
        fr.writerow(i)
    f1.close()

In [ ]:
#modifying particular column in csv

import csv

f1=open(r'D:\Python\csv_file_handling\Untitled spreadsheet-2.csv','r')
res=csv.reader(f1)

# res=csv.DictReader(f1)
# print(res)

li=[]
for i in res:
    li+=[i]
# print(li)

for i in li:
    print(i[2])
    

for i in li:
    z=i[2].split('-')
    # print(z)
    z[0],z[-1]=z[-1],z[0]
    z='-'.join(z)
    i[2]=z

print(li)

# for i in li:
fo=open(r'D:\Python\csv_file_handling\Untitled spreadsheet-2.csv','w')
fw=csv.writer(fo)
fw.writerows(li)
fo.close()

In [89]:
#create a table

import pymysql

mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',database='aabhinnav')
cus=mydb.cursor()

def ctable():
    cus.execute("create table csvtable (name varchar(25),age varchar(25),date varchar(25),item varchar(25),itemtype varchar(25),price varchar(25),totalprice varchar(25))")
    print("----- %s rows affected -----" % cus.rowcount)
# ctable()

----- 0 rows affected -----

In [95]:
#insert into table (csv to mysql)

import pymysql

mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',database='aabhinnav')
cus=mydb.cursor()

import csv
f1=open(r'D:\Python\csv_file_handling\Untitled spreadsheet-2.csv','r')
res=csv.reader(f1)

for i in res:
    if i[0]!='Name':
        cus.execute("insert into csvtable values(%s,%s,%s,%s,%s,%s,%s)",i)
        mydb.commit()

In [1]:
#fetching records

import pymysql

mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',database='aabhinnav')
cus=mydb.cursor()

cus.execute("select * from csvtable")
res=cus.fetchall()

print("----- %s rows affected -----" % cus.rowcount)
for i in res:
    print(i)

----- 14 rows affected -----
('Sunil', '28', '2020-01-06', 'Jeans  Levis', 'Casual Wear', '900', '1100')
('Naga', '22', '2020-02-06', 'Jeans  Levis', 'Casual Wear', '900', '1100')
('Mahesh', '17', '2020-03-26', 'Jeans  Levis', 'Casual Wear', '900', '1100')
('Ganesh', '26', '2020-04-17', 'Tshirt', 'Semi Formal', '400', '600')
('Kumar', '22', '2020-04-19', 'Tshirt', 'Semi Formal', '400', '600')
('Vijay', '29', '2020-04-26', 'Tshirt', 'Semi Formal', '400', '600')
('Sunil', '32', '2020-04-26', 'Jeans  Levis', 'Casual Wear', '900', '1100')
('Naga', '17', '2020-04-29', 'Tshirt', 'Semi Formal', '400', '600')
('Rajiv', '10', '2020-04-30', 'Tshirt', 'Semi Formal', '400', '600')
('Mahesh', '29', '2020-05-02', 'Tshirt', 'Semi Formal', '400', '600')
('Nagaraju', '1', '2020-05-10', 'Jeans  Denim', 'Casual Wear', '700', '900')
('Mahi', '28', '2020-05-15', 'Tshirt', 'Semi Formal', '400', '600')
('shiva', '28', '2020-06-06', 'Jeans Zara', 'Casual Wear', '700', '900')
('Kumar', '28', '2020-06-09', 'Shirt Arrow', 'Formal', '1000', '1200')

In [16]:
import pymysql

db=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',database='aabhinnav')
cus=db.cursor()

cus.execute("select * from emp")
res=cus.fetchall()


for i in res:
    print(i[0],i[1],i[2],i[4],i[5])

7369 SMITH CLERK 1980-12-17 5000
7499 ALLEN SALESMAN 1981-02-20 1600
7521 WARD SALESMAN 1981-02-22 1250
7566 JONES MANAGER 1981-04-02 2975
7654 MARTIN SALESMAN 1981-09-28 1250
7698 BLAKE MANAGER 1981-05-01 2850
7782 CLARK MANAGER 1981-06-09 2450
7788 SCOTT ANALYST 1987-04-19 3000
7839 KING PRESIDENT 1981-11-17 5000
7844 TURNER SALESMAN 1981-09-08 1500
7876 ADAMS CLERK 1987-05-23 1100
7900 JAMES CLERK 1981-12-03 950
7902 FORD ANALYST 1981-12-03 3000
7934 MILLER CLERK 1982-01-23 1300