In [17]:
import pymysql
mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
# print(mydb)
cus=mydb.cursor()
# print(cus)

def create_table():
    cus.execute('create table demo(no int(3),loc varchar(10))')
    mydb.commit()
# create_table()

def select_records():
    cus.execute('select * from player')
    res=cus.fetchall()
    for i in res:
        print(i)
# select_records()

def rename(oldname,newname):
    cus.execute('rename table {} to {}'.format(oldname,newname))
    mydb.commit()
# rename('abhinav','demotable')

In [ ]:
import pymysql
mydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
cus=mydb.cursor()

def add_record():
    cus.execute("insert into player values(5,'HARDIK',30,'GT')")
    mydb.commit()

def drop_table():
    cus.execute("drop table player")
# drop_table()

def flashback():
    cus.execute("flashback table player to before drop")
# flashback()

In [9]:
#create table

import pymysql
demodb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
cus=demodb.cursor()

cus.execute('create table plang(slno int(3),name varchar(10),level varchar(10))')
demodb.commit()

In [2]:
#fetch tables

import pymysql
demodb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
cus=demodb.cursor()

cus.execute('show tables')
res=cus.fetchall()

for i in res:
    print(i)

('marvel',)

In [35]:
#insert record

import pymysql
demodb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
cus=demodb.cursor()

cus.execute("insert into plang values(2,'C','LOW LEVEL')")
demodb.commit()

In [4]:
#fetch record

import pymysql
demodb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',database='pythondb')
cus=demodb.cursor()

cus.execute('select * from plang')
res=cus.fetchall()

for i in res:
    print(i)

(1, 'PYTHON', 'HIGH LEVEL')
(2, 'C', 'LOW LEVEL')

In [2]:
#movie_details(oops,pymysql)

class marvel:
    producer='kevin fiege'
    mcount=0
    

    def __init__(self,name,year,budget_in_mn,collection_in_mn):
        self.name=name.upper()
        self.year=year
        self.budget_in_mn=budget_in_mn
        self.collection_in_mn=collection_in_mn
        self.movie_count()
        self.movie_id='mar'+str(self.mcount)
        self.insert_record()
     
    @classmethod
    def movie_count(cls):
        cls.mcount+=1

    
    def insert_record(self):
        import pymysql
        pydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
        cus=pydb.cursor()
        cus.execute("insert into MARVEL(name,year,budget_in_mn,collection_in_mn) values(%s,%s,%s,%s)",
                    [self.name,self.year,self.budget_in_mn,self.collection_in_mn])
        pydb.commit()
        pydb.close()

# movie1=marvel('iron man 1',2008,120,500)
# movie2=marvel('hulk',2008,100,320)
# movie3=marvel('iron man 2',2010,150,450)
# movie4=marvel('captain america 1',2011,120,440)


def create_table():
    import pymysql
    pydb=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='pythondb')
    cus=pydb.cursor()
    cus.execute("create table MARVEL(name varchar(10),year int(4),budget_in_mn int(4),collection_in_mn int(4))")
    pydb.commit()
    pydb.close()

# create_table()

In [1]:
#importing data from csv to mysql

import pymysql

res=pymysql.connect(host='127.0.0.1',port=3306,user='root',password='root',db='aabhinnav')
cus=res.cursor()

import csv

fp=open(r"D:\Python\csv_file_handling\emp_table copy.csv",'r')
fr=csv.reader(fp)
for i in fr:
    if i[0]!='EMPNO':
        print(i)
        cus.execute("insert into sample values(%s,%s,%s,%s,%s,%s,%s,%s)",i)
        res.commit()

['7369', 'SMITH', 'CLERK', '7902', '1980-12-17', '800', '', '20']
['7499', 'ALLEN', 'SALESMAN', '7698', '1981-02-20', '1600', '300', '30']
['7521', 'WARD', 'SALESMAN', '7698', '1981-02-22', '1250', '500', '30']
['7566', 'JONES', 'MANAGER', '7839', '1981-04-02', '2975', '', '20']
['7654', 'MARTIN', 'SALESMAN', '7698', '1981-09-28', '1250', '1400', '30']
['7698', 'BLAKE', 'MANAGER', '7839', '1981-05-01', '2850', '', '30']
['7782', 'CLARK', 'MANAGER', '7839', '1981-06-09', '2450', '', '10']
['7788', 'SCOTT', 'ANALYST', '7566', '1987-04-19', '3000', '', '20']
['7839', 'KING', 'PRESIDENT', '0', '1981-11-17', '5000', '', '10']
['7844', 'TURNER', 'SALESMAN', '7698', '1981-09-08', '1500', '0', '30']
['7876', 'ADAMS', 'CLERK', '7788', '1987-05-23', '1100', '', '20']
['7900', 'JAMES', 'CLERK', '7698', '1981-12-03', '950', '', '30']
['7902', 'FORD', 'ANALYST', '7566', '1981-12-03', '3000', '', '20']
['7934', 'MILLER', 'CLERK', '7782', '1982-01-23', '1300', '', '10']